body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2d033b;
    color: #fff;
    margin: 0;
    font-family: Arial, sans-serif;
}

.game-container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #590995;
    cursor: pointer;
    font-size: 2rem;
}

.cell.X {
    color: #38b6ff;
}

.cell.O {
    color: #ff4c61;
}

button {
    padding: 10px 20px;
    background-color: #590995;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #ff4c61;
}
